
Asteroids/.vs/
Asteroids/bin/
Asteroids/Temp/
Asteroids/project/resources/ECS-20210320.zip
Asteroids/project/resources/ECS-20210320/
Asteroids/project/resources/ver_6.zip
Asteroids/project/resources/ver_6/

TPV2/.vs/
TPV2/bin/
TPV2/TPV2/Debug/
TPV2/TPV2/x64/
